  .logo1 {
    position: absolute;
width: 311px;
height: 49px;
left: 80px;
top: 20px;    
}

.group1097 {
    position: absolute;
width: 30px;
height: 49.77px;
left: 1133px;
top: 49.77px;
}

.group1100 {
    position: absolute;
    width: 30px;
    height: 49.77px;
    left: 1186px;   
    top: 49.77px;
}

.group1099 {
    position: absolute;
width: 31.15px;
height: 49.77px;
left: 1239px;
top: 50.68px;
}

.fonty {
    font-family: 'Poppins', sans-serif;
}

.headone {
    margin-top: 11px;
    margin-bottom: 12px;
    margin-left: 19px;
}

.flexbox-container1-1{
    position: absolute;
width: 1136px;
height: 51px;
left: 177px;
top: 222px;

background: #0029FF;
border-radius: 10px 10px 0px 0px;
color: #F0F0F0;
}

.flexbox-container1 {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

position: absolute;
width: 1136px;
height: 2849px;
left: 177px;
top: 273px;

background: #FFFFFF;
border: 1px solid #F0F0F0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sidepanel {
    display: flex;
    position: absolute;
width: 96px;
height: 827px;
left: 0px;
top: 205px;

background: #FFFFFF;
border: 1px solid #F0F0F0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
i{
    position: absolute;   
}
.header-container{
position: absolute;
width: 100%;
height: 90px;
left: 0px;
top: 0px;

background: #F0F0F0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.after-nav {
    display: flex;
}

i{
    position: absolute;
    
}
